<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">

{%- include head.html -%}

<meta property="og:image" content="https://github.com/marspark00/marspark00.github.io/blob/main/images/profile.jpg?raw=true">

<!-- <body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}"> -->
<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}

            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- if site.data.skill.size > 0 -%}
                {%- include skill.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}

            {%- if site.data.certificates.size > 0 -%}
                {%- include certificates.html -%}
            {%- endif -%}

            {%- include more.html -%}

        </div>
    </main>

    {%- include footer.html -%}
    {% if site.darkmode == false %}
        <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
    {% endif %}
</body>

</html>
